.top {
  background-color: #121212;
  color: snow;
  font-family: Arial, sans-serif;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  margin-top: 50px;
  width: 100vw;
}

.container input {
  width: 45vw;
  padding: 15px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 16pt;
}

.submitInfo {
  margin-top: 20px;
  background-color: white;
  font-family: sans-serif;
  font-size: 16pt;
  font-weight: 900;
  border-color: #3333ff;
  border-radius: 20px;
  border-width: 5px;
  padding: 10px 60px;
  color: #3333ff;
}

.resetInfo {
  margin-top: 20px;
  background-color: white;
  font-family: sans-serif;
  font-size: 16pt;
  font-weight: 900;
  border-color: #ff3333;
  border-radius: 20px;
  border-width: 5px;
  padding: 10px 60px;
  color: #ff3333;
}

.heatmap {
  background-color: #222255;
  color: snow;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.uncommitted {
  background-color: #131313;
  padding: 8px;
}

.committed {
  background-color: #42f456;
  padding: 8px;
}
